#dll files(used in wine64 on Ubuntu) and object code of Ubuntu
libgcc_s_seh-1.dll
libstdc++-6.dll
*.out

#Unecrypted text files(for testing)
Credentials.txt
Data.txt

#vscode(compiler settings),__pycache__(python precompiled files) folder
*.vscode
__pycache__

#Encrypted files
*.aes

#Compiler Object File(MSVC)
*.obj

#proprietary file format for storing debugging information about this program(MSVC)
*.pdb

#used by linker(MSVC)
*.ilk

#cython files
Encryption.c
Decryption.c
