name: Windows-x32-Build

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8.5'
        architecture: 'x86'

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x86

    - name: build
      run: |
        pip install cython
        pip install pyAesCrypt
        cd src
        cython Encryption.py --embed
        cython Decryption.py --embed
        cl.exe Encryption.c /I c:\hostedtoolcache\windows\python\3.8.5\x86\include /link c:\hostedtoolcache\windows\python\3.8.5\x86\libs\python38.lib
        cl.exe Decryption.c /I c:\hostedtoolcache\windows\python\3.8.5\x86\include /link c:\hostedtoolcache\windows\python\3.8.5\x86\libs\python38.lib
        cl /EHsc Main.cpp
    - name: Upload Encryption.exe
      uses: actions/upload-artifact@v2
      with:
        path: D:\a\Password-Store\Password-Store\src\Encryption.exe
    - name: Upload Decryption.exe
      uses: actions/upload-artifact@v2
      with:
        path: D:\a\Password-Store\Password-Store\src\Decryption.exe
    - name: Upload Main.exe
      uses: actions/upload-artifact@v2
      with:
        path: D:\a\Password-Store\Password-Store\src\Main.exe
    - name: Upload Python3.8.5 DLL x86
      uses: actions/upload-artifact@v2
      with:
        path: c:\hostedtoolcache\windows\python\3.8.9\x86\python38.dll
